    <!-- Ana sayfa için gerekli olan en genel div -->
<div class="center">
    <!-- Sayfada gözükecek olan resim -->
    <div class="avatar">
        <img src="~/img/IMG_1411.JPEG" />
    </div>

    <!-- Hakkımda kısmı -->
    <div class="content">
        <h1>Veysel ALAN</h1>
        <h2>Web Tasarımcı</h2>
        <p>
            Bilgisayar teknolojileri ilgi alanım ve bu alanda başarılı bir şekilde ilerlemek istiyorum. Daha çok mobil ve web
            alanlarında çalışmak istiyorum. Bilgisayar teknolojileri alanında daha yeniyim. Öncelikle web kısmını hallederek
            mobile geçmek istiyorum. Eğer iletişime geçmek isterseniz aşağıdaki sosyal medya hesaplarımdan iletişime geçebilirsiniz!
        </p>
        <h3> Sosyal Medya Hesaplarım </h3>
        <!-- Sosyal medya alanları -->
        <div class="social">
            <a href="https://github.com/veys97?tab=repositories"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/veysel-alan-398ba9244/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://x.com/alnveysl72"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.instagram.com/_.veysel_alan/#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>